.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem 4rem;
  box-shadow: 0 0 0 1px grey;
}

h2 {
  text-align: center;
  color: #3c3c3c;
}

p {
  text-align: center;
  color: #a1a1a1;
}

.chapter {
  break-after: page;
}

@page {
  size: A4 landscape;
  margin: 20mm 25mm;
  background-color: yellow;
  @bottom-center {
    content: string(title);
  }
  @right-middle {
    content: string(ref);
  }
}

@page :first {
  @top-center {
    content: "START";
  }
}

.chapter > h2 {
  string-set: title content(text);
}

.chapter {
  string-set: ref attr(data-reference);
}

